.env
*.env

bin/
obj/
out/
Debug/
Release/
packages/
.sln.docstates

*.user
*.suo
*.sln.ide

.vscode/
.idea/
*.iml
*.swp

project.lock.json
project.fragment.lock.json

*.cache
*.tmp

Docker/*
.dockerignore
!Docker/docker-compose.yml

*.nupkg
*.snupkg

*.log
*.pdb
*.dSYM
*.db
*.sqlite